footer {
    background-color: #404040;
    color: #C0C0C0;
}

.btn-sub {
    color: #f1f0ed;
    background-color: #62a85d;
    border-color: #f1f0ed;
}

.btn-sub:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-sub:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.small-lighter {
    font-size: 0.9em;
    color: #e4e3e2;
}

.social-media {
    font-size: 1.5rem;
}

.social-media>a {
    margin-right: 2rem;
}

.social-media>a:hover {
    opacity: 0.8;
}

footer h5 {
    margin-bottom: 1rem;
}

.back-to-top {
    position: fixed;
    background-color: #f1f0ed;
    border-color: #6a6a6a;
    bottom: 25px;
    right: 25px;
    display: none;
}


/* .btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
 */