<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title> Grocery Store </title>
  <link rel="shortcut icon" href="./image/logostore.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/d72279f407.js" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/css/footer.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- Header 1-->
  <div class="header1">
    <div class="container-fluid" style="background-color: #000000">
      <div class="row">
        <div class="col-md-3 col-sm-12" style="background-color: #84C639; padding-left: 0px">
          <p class="center"> Today's special Offers ! </p>
        </div>

        <div class="col-md-4 col-sm-12">
          <!-- Search -->
          <div class="search-container">
            <form class="example" action="/action_page.php" style="margin:auto; max-width: 300px">
              <input type="text" placeholder="Search a product ..." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

        <div class="col-md-5 col-sm-12" style=" padding-right: 0px">
          <div class="container">
            <div class="row">


              <div class="viewcart" style="padding-top: 5px; width: 50%">
                <button type="button" class="block" data-toggle="modal" data-target="#cart"> View your cart
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> Cart </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <table class="show-cart table"></table>
                    </div>

                    <div class="modal-footer">
                      <div style="padding-left: 10px"> Subtotal: $ <span class="total-cart"></span> USD </div>
                      <a href="/components/checkout.html">
                        <button type="button" class="btn-checkout"> Check Out with </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="login" style="padding-top: 10px; width: 15%">
                <a href="/login-page.html">
                  <div class="dropdown">
                    <i class="fa fa-user" aria-hidden="true" style="color: #fff"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" style="color: #fff"></i>
                    <div class="dropdown-content">
                      <a href="#"> Login </a>
                      <a href="#"> Sign Up </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="contactus" style="background-color: #ff0000; width: 35%">
                <p class="center"> Contact Us </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div id="header2"></div>

  <div class="container-fluid" style="background-color: #66CC00; color: #000000; height: 60px">
    <div class="row">
      <div class="col-md-2">
        <a href="/index.html"
          style="position: absolute; top: 0; right: 0; width: 100px; text-align:right; padding-top: 20px"> Home </a>
      </div>
      <div class="col-md-10" style="padding-top: 20px">
        <p> Checkout </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2" style="padding-left: 0; padding-right: 0">
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Branded Foods </a>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Households </a>
        </nav>

        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Veggies & Fruits
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Vegetables </a>
              <a href="/components/vegetables_page.html"> Fruits </a>
            </div>
          </div>
        </nav>

        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Kitchen </a>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Short Codes </a>
        </nav>
        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Beverages
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Soft Drinks </a>
              <a href="/components/vegetables_page.html"> Juices </a>
            </div>
          </div>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Pet Food </a>
        </nav>
        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Frozen Foods
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Frozen Snack </a>
              <a href="/components/vegetables_page.html"> Frozen Nonveg </a>
            </div>
          </div>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Bread & Bakery </a>
        </nav>
      </div>

      <div class="col-md-10" style="padding-left: 40px; padding-right: 40px">
        <h1 style="text-align: center; padding-top: 50px; padding-bottom: 50px; color: #000000"> Checkout</h1>
        <h4 style="color: #000000"> YOUR SHOPPING CART CONTAINS: 3 PRODUCTS </h4>

        <div class="container-fluid" style="padding-top: 30px">
          <div class="row" style="background-color: #000; color: #fff; padding-top: 10px">
            <div class="col-md-1">
              <p> SL No. </p>
            </div>
            <div class="col-md-3">
              <p> Product </p>
            </div>
            <div class="col-md-3">
              <p> Quality </p>
            </div>
            <div class="col-md-3">
              <p> Product Name </p>
            </div>
            <div class="col-md-1">
              <p> Price </p>
            </div>
            <div class="col-md-1">
              <p> Remove </p>
            </div>
          </div>

          <div class="row" style="color: #000; padding-top: 10px; background-color: #E0E0E0;">
            <div class="col-md-1">
              <p> 1 </p>
            </div>
            <div class="col-md-2">
              <a href="/components/pic1.html">
                <img src="/image/1.png" alt="Card image cap" style="width: 60px;">
              </a>
            </div>
            <div class="col-md-4">
              <div class="minusplus">
                <input type="button" value="-" class="minus">
                <input type="number" value="1" class="numberPlace">
                <input type="button" value="+" class="plus">
             </div>
            </div>
            <div class="col-md-3">
              <p> Fortune Sunflower Oil </p>
            </div>
            <div class="col-md-1">
              <p> $290.00 </p>
            </div>
            <div class="col-md-1">
              <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" style="padding-left: 10px; "></i>
            </div>
          </div>

          <div class="row" style="color: #000; background-color: #E0E0E0; padding-top: 10px">
            <div class="col-md-1">
              <p> 2 </p>
            </div>
            <div class="col-md-2">
              <a href="/components/pic1.html">
                <img src="/image/3.png" alt="Card image cap" style="width: 60px;">
              </a>
            </div>
            <div class="col-md-4">
              <div class="minusplus">
                <input type="button" value="-" class="minus">
                <input type="number" value="1" class="numberPlace">
                <input type="button" value="+" class="plus">
             </div>
            </div>
            <div class="col-md-3">
              <p> Basmati Rise (5 Kg) </p>
            </div>
            <div class="col-md-1">
              <p> $250.00 </p>
            </div>
            <div class="col-md-1">
              <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" style="padding-left: 10px; "></i>
            </div>
          </div>

          <div class="row" style="color: #000; background-color: #E0E0E0; padding-top: 10px">
            <div class="col-md-1">
              <p> 3 </p>
            </div>
            <div class="col-md-2">
              <a href="/components/pic1.html">
                <img src="/image/2.png" alt="Card image cap" style="width: 60px;">
              </a>
            </div>
            <div class="col-md-4">
              <div class="minusplus">
                <input type="button" value="-" class="minus">
                <input type="number" value="1" class="numberPlace">
                <input type="button" value="+" class="plus">
             </div>
            </div>
            <div class="col-md-3">
              <p> Pepsi Soft Drink (2 Ltr) </p>
            </div>
            <div class="col-md-1">
              <p> $15.00 </p>
            </div>
            <div class="col-md-1">
              <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" style="padding-left: 10px; "></i>
            </div>
          </div>

        </div>

        <div class="container-fluid" style="padding-top: 20px">
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12" style="background-color: #66CC00; color: #fff; text-align: center; height: 50px; font-size: 20px">
                <p style="padding-top: 9px"> CONTINUE TO BASKET </p>
              </div>

              <div class="container- fluid">
                <div class="row" style="padding-top: 10px">
                  <div class="col-md-8">
                    <p> Product1 - </p>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <p> $15.00 </p>
                  </div>
                </div>
                <div class="row" style="padding-top: 10px">
                  <div class="col-md-8">
                    <p> Product2 - </p>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <p> $25.00 </p>
                  </div>
                </div>
                <div class="row" style="padding-top: 10px">
                  <div class="col-md-8">
                    <p> Product3 - </p>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <p> $29.00 </p>
                  </div>
                </div>
                <div class="row" style="padding-top: 10px">
                  <div class="col-md-8">
                    <p> Total Service Charges - </p>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <p> $15.00 </p>
                  </div>
                </div>
                <div class="row" style="padding-top: 30px">
                  <div class="col-md-8">
                    <p style="font-size: 20px; color: #000"><strong> Total - </strong></p>
                  </div>
                  <div class="col-md-4" style="text-align: right">
                    <p style="font-size: 20px; color: #000"><strong> $84.00 </strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <h4 style="color: #000"> ADD A NEW DETAILS </h4>
              <form>
                <div class="form-group">
                  <label for="fullname"> Full name: </label>
                  <input type="fullname" class="form-control" id="fullname" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="mobilenumber"> Mobile number: </label>
                  <input type="mobilenumber" class="form-control" id="mobilenumber">
                </div>
                <div class="form-group">
                  <label for="landmark"> Landmark: </label>
                  <input type="landmark" class="form-control" id="landmark">
                </div>
                <div class="form-group">
                  <label for="towncity"> Town/City: </label>
                  <input type="towncity" class="form-control" id="towncity">
                </div>
                <div class="form-group">
                  <label for="addresstype"> Address type: </label>
                  <select class="form-control" id="addresstype">
                    <option> Office </option>
                    <option> Home </option>
                    <option> Commercial </option>
                  </select>
                </div>

                <div class="col-md-12">
                  <button type="checkout" class="btn btn-primary"> DELIVERY TO THIS ADDRESS </button>
                </div>

                <div class="col-md-12" style="padding-top: 50px; padding-bottom: 80px;">
                  <button type="checkout" class="btn-payment" style="float: right" > Make a payment 
                    <i class="fa fa-chevron-right" aria-hidden="true" style="padding-left: 10px"></i>
                  </button>
                </div>

              </form>

            </div>

          </div>
        </div>
        
      </div>

    </div>
  </div>

  <div id="footer"></div>

  <a id="back-to-top" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

  <script src="/js/index.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/common.js"></script>

  <!--Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>