<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title> Grocery Store </title>
  <link rel="shortcut icon" href="./image/logostore.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/d72279f407.js" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/css/footer.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- Header 1-->
  <div class="header1">
    <div class="container-fluid" style="background-color: #000000">
      <div class="row">
        <div class="col-md-3 col-sm-12" style="background-color: #84C639; padding-left: 0px">
          <p class="center"> Today's special Offers ! </p>
        </div>

        <div class="col-md-4 col-sm-12">
          <!-- Search -->
          <div class="search-container">
            <form class="example" action="/action_page.php" style="margin:auto; max-width: 300px">
              <input type="text" placeholder="Search a product ..." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

        <div class="col-md-5 col-sm-12" style=" padding-right: 0px">
          <div class="container">
            <div class="row">


              <div class="viewcart" style="padding-top: 5px; width: 50%">
                <button type="button" class="block" data-toggle="modal" data-target="#cart"> View your cart
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> Cart </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <table class="show-cart table"></table>
                    </div>

                    <div class="modal-footer">
                      <div style="padding-left: 10px"> Subtotal: $ <span class="total-cart"></span> USD </div>
                      <button type="button" class="btn-checkout"> Check Out with </button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="login" style="padding-top: 10px; width: 15%">
                <a href="/login-page.html">
                  <div class="dropdown">
                    <i class="fa fa-user" aria-hidden="true" style="color: #fff"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" style="color: #fff"></i>
                    <div class="dropdown-content">
                      <a href="#"> Login </a>
                      <a href="#"> Sign Up </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="contactus" style="background-color: #ff0000; width: 35%">
                <p class="center"> Contact Us </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div id="header2"></div>

  <div class="container-fluid" style="background-color: #66CC00; color: #000000; height: 60px">
    <div class="row">
      <div class="col-md-2">
        <a href="/index.html"
          style="position: absolute; top: 0; right: 0; width: 100px; text-align:right; padding-top: 20px"> Home </a>
      </div>
      <div class="col-md-10" style="padding-top: 20px">
        <p> Checkout </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2" style="padding-left: 0; padding-right: 0">
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Branded Foods </a>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Households </a>
        </nav>

        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Veggies & Fruits
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Vegetables </a>
              <a href="/components/vegetables_page.html"> Fruits </a>
            </div>
          </div>
        </nav>

        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Kitchen </a>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Short Codes </a>
        </nav>
        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Beverages
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Soft Drinks </a>
              <a href="/components/vegetables_page.html"> Juices </a>
            </div>
          </div>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Pet Food </a>
        </nav>
        <nav class="navbar">
          <div class="dropdown">
            <a class="navbar-brand" href="#"> Frozen Foods
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
              <a href="/components/vegetables_page.html"> Frozen Snack </a>
              <a href="/components/vegetables_page.html"> Frozen Nonveg </a>
            </div>
          </div>
        </nav>
        <nav class="navbar">
          <a class="navbar-brand" href="/components/vegetables_page.html"> Bread & Bakery </a>
        </nav>
      </div>

      <div class="col-md-10" style="padding-left: 0; padding-right: 0">
        <h1> Checkout</h1>
        <img src="/image/17.jpg" class="d-block w-100" style="height: 320px" alt="...">
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 30px">
    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-3">
        <img src="/image/18.jpg" class="card-product" alt="...">
        <h3 style="color: #000000; margin-top: 20px"> Fruits & Vegetables </h3>
        <ol>
          <li> Sunt In Culpa Qui Officia </li>
          <li> Commodo Consequat </li>
          <li> Sed Do Eiusmod Tempor Incididunt </li>
        </ol>
      </div>

      <div class="col-md-3">
        <img src="/image/19.jpg" class="card-product" alt="...">
        <h3 style="color: #000000; margin-top: 20px"> Dry Fruits </h3>
        <ol>
          <li> Enim Ipsam Voluptatem Officia </li>
          <li> Tempora Incidunt Ut Labore Et </li>
          <li> Vel Eum Iure Reprehenderit </li>
        </ol>
      </div>

      <div class="col-md-3">
        <img src="/image/20.jpg" class="card-product" alt="...">
        <h3 style="color: #000000; margin-top: 20px"> Vegetables </h3>
        <ol>
          <li> Dolorem Eum Fugiat Voluptas </li>
          <li> Ut Aliquid Ex Ea Commodi </li>
          <li> Magnam Aliquam Quaerat </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding-bottom: 50px">

    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-10">
        <h1 style="text-align: center; color: #000000; padding-top: 50px; padding-bottom: 50px"> Fruits & Vegetables
        </h1>

        <div class="row">

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/29.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Bananas (1 Kg) </h4>
                <p class="card-text"> $10.00 <strike style="margin-left: 15px"> $12.00 </strike> </p>
                <a href="#" data-name="FreshBananas" data-price="10.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/30.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Cauliflower (2 No's) </h4>
                <p class="card-text"> $5.00 <strike style="margin-left: 15px"> $8.00 </strike> </p>
                <a href="#" data-name="FreshCauliflower" data-price="5.00" class="add-to-cart btn btn-primary"> ADD
                  TO CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/31.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Brinjal Bharta (1 Kg) </h4>
                <p class="card-text"> $2.00 <strike style="margin-left: 15px"> $3.00 </strike> </p>
                <a href="#" data-name="FreshBrinjalBharta" data-price="2.00" class="add-to-cart btn btn-primary">
                  ADD TO CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/32.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Sweet Line (500 Gm)</h4>
                <p class="card-text"> $6.00 <strike style="margin-left: 15px"> $7.00 </strike> </p>
                <a href="#" data-name="FreshSweetLine" data-price="6.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>

        </div>

        <div class="row" style="padding-top: 40px;">
          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/9.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Spinach (Palak) </h4>
                <p class="card-text"> $2.00 <strike style="margin-left: 15px"> $3.00 </strike> </p>
                <a href="#" data-name="FreshSpinachPalak" data-price="2.00" class="add-to-cart btn btn-primary"> ADD
                  TO CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/10.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Mango Dasheri (1 Kg) </h4>
                <p class="card-text"> $5.00 <strike style="margin-left: 15px"> $8.00 </strike> </p>
                <a href="#" data-name="FreshMangoDasheri" data-price="5.00" class="add-to-cart btn btn-primary"> ADD
                  TO CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/11.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Apple Red (1 Kg) </h4>
                <p class="card-text"> $6.00 <strike style="margin-left: 15px"> $8.00 </strike> </p>
                <a href="#" data-name="FreshAppleRed" data-price="6.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/12.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Broccoli (500 Gm) </h4>
                <p class="card-text"> $4.00 <strike style="margin-left: 15px"> $6.00 </strike> </p>
                <a href="#" data-name="FreshBroccoli" data-price="4.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 40px;">
          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/33.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Basket Onion (1 Kg) </h4>
                <p class="card-text"> $5.00 <strike style="margin-left: 15px"> $7.00 </strike> </p>
                <a href="#" data-name="FreshBasketOnion" data-price="5.00" class="add-to-cart btn btn-primary"> ADD
                  TO CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/34.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Muskmelon (1 Kg) </h4>
                <p class="card-text"> $4.00 <strike style="margin-left: 15px"> $5.00 </strike> </p>
                <a href="#" data-name="FreshMuskmelon" data-price="4.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/35.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Mushroom (500 Ml) </h4>
                <p class="card-text"> $11.00 <strike style="margin-left: 15px"> $15.00 </strike> </p>
                <a href="#" data-name="Freshmushroom" data-price="11.00" class="add-to-cart btn btn-primary"> ADD TO
                  CART</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 20rem;">
              <a href="/components/pic1.html">
                <img class="card-img-top" src="/image/36.png" alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title"> Fresh Strawberry (1 Pc) </h4>
                <p class="card-text"> $7.00 <strike style="margin-left: 15px"> $9.00 </strike> </p>
                <a href="#" data-name="FreshSttrawberry" data-price="7.00" class="add-to-cart btn btn-primary"> ADD
                  TO CART</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="footer"></div>

  <a id="back-to-top" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

  <script src="/js/index.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/common.js"></script>

  <!--Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>