<!--header2 bar -->
<div class="header2">
  <div class="container-fluid" style="color: #000000; padding-top: 30px">
    <div class="row" style="padding-bottom: 15px">

      <div class="col-md-3 col-sm-12">
        <img src="/image/logostore.png" class="center-image" href="index.html" alt="logostore">
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="container">
          <div class="row" style="padding-top: 20px">
            <div class="events" style="width: 25%">
              <a href="" class="text-reset"> Events </a>
            </div>
            <div class="aboutus" style="width: 25%">
              <a href="" class="text-reset">About Us </a>
            </div>
            <div class="bestdeals" style="width: 25%">
              <a href="" class="text-reset"> Best Deals </a>
            </div>
            <div class="services" style="width: 25%">
              <a href="" class="text-reset"> Services </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="row" style="padding-top: 20px">

          <div class="phone" style="width: 50%; text-align: center">
            <!--        <i class="fa fa-phone" aria-hidden="true"></i> -->
            <p> (+0123) 234 567 </p>
          </div>

          <div class="mail" style="width: 50%">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="" alt="..."> store@grocery.com </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>