<div class="container mb-3" style="height: 120px; color: #000000; margin-top: 30px">
    <div class="row">

        <div class="col-md-2">
            <img src="/image/logostore.png" class="card-img-top" href="index.html" alt="logostore">    
        </div>
        
        <div class="col-md-5">
          <div class="container">
            <div class="row" style="padding-top: 30px">
              <div class="col-md-3">
                <a href="" class="text-reset"> Events
                </a>
              </div>
              <div class="col-md-3">
                <a href="" class="text-reset">About Us
                </a>
              </div>
              <div class="col-md-3">
                <a href="" class="text-reset"> Best Deals
                </a>
              </div>
              <div class="col-md-3">
                <a href="" class="text-reset"> Services
                </a>    
              </div>                 
            </div> 
          </div>              
        </div>

        <div class="col-md-2" style="padding-top: 30px"> 
                <p> (+0123) 234 567 </p>
        </div>

        <div class="col-md-2" style="padding-top: 30px"> 
                <a href="" alt="..."> store@grocery.com </a>
        </div>

    </div>
  </div>