<div class="container-fluid" style="background-color: #66CC00; color: #000000; height: 60px">
    <div class="row">
        <div class="col-md-2">
            <a href="" style="position: absolute; top: 0; right: 0; width: 100px; text-align:right"> Home </a>
        </div>
        <div class="col-md-9">
            <p> Single Page </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Branded Foods </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Households </a>
            </nav>

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Veggies & Fruits </a>

                <!--        <div class="nar-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Veggies & Fruits
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> Vegetables </a>
                  <a class="dropdown-item" href="#"> Fruits </a>
              </div>
          </div>
          -->

            </nav>

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Kitchen </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Short Codes </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Beverages </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Pet Food </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Frozen Foods </a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> Bread & Bakery </a>
            </nav>
        </div>

        <div class="col-md-8">
            <img src="image/gray.png" class="d-block w-100" style="width: 100%" alt="...">
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-9">
            <h2> CHARMINAR PULAO BASMATI RICE 5 KG </h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="image/gray.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-5">
                        <h4 style="color: #000000; margin-top: 20px"> DESCRIPTION : </h4>
                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <p> $21.00 </p>
                        <a href="#" class="btn addtoCart">Add to cart</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom: 50px; background-color: #E0E0E0">
    <h1 style="text-align: center; color: #000000; padding-top: 70px; padding-bottom: 50px"> Popular Brands </h1>

    <h3 style="color: #000000; padding-bottom: 20px"> FOOD </h3>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    <h3 style="color: #000000; padding-top: 30px; padding-bottom: 20px"> VEGETABLES & FRUITS </h3>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    <h3 style="color: #000000; padding-top: 30px; padding-bottom: 20px"> VEGETABLES & FRUITS </h3>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-product" style="width: 250px;">
                <a class="" href="pic1.html">
                    <img src="image/FreshBananas(1Kg).png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="pic1.html">
                        <h5 class="card-title"> Fresh Bananas (1 Kg) </h5>
                        <p class="card-text">$10.00</p>
                    </a>
                    <a href="#" class="btn addtoCart">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>