<div class="container-fluid" style="background-color: #ff0000">
    <div class="row" style="padding-top: 60px; padding-bottom: 50px">

      <div class="col-sm-4">
        <h5 style="text-align: right; color: #ffffff"> Sign Up For Our Newletter </h5>
      </div>

      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email">
          <div class="input-group-prepend">
            <button class="btn btn-sub" type="button" id="button-addon1"> SUBSCRIBE NOW </button>
          </div>
        </div>
      </div>

    </div>

</div>